/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"), local("Roboto-Regular"),
    url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu72xKOzY.woff2)
      format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"), local("Roboto-Regular"),
    url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu5mxKOzY.woff2)
      format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"), local("Roboto-Regular"),
    url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu7mxKOzY.woff2)
      format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"), local("Roboto-Regular"),
    url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4WxKOzY.woff2)
      format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"), local("Roboto-Regular"),
    url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu7WxKOzY.woff2)
      format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"), local("Roboto-Regular"),
    url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu7GxKOzY.woff2)
      format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"), local("Roboto-Regular"),
    url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxK.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"), local("Roboto-Black"),
    url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmYUtfCRc4EsA.woff2)
      format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"), local("Roboto-Black"),
    url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmYUtfABc4EsA.woff2)
      format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"), local("Roboto-Black"),
    url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmYUtfCBc4EsA.woff2)
      format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"), local("Roboto-Black"),
    url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmYUtfBxc4EsA.woff2)
      format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"), local("Roboto-Black"),
    url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmYUtfCxc4EsA.woff2)
      format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"), local("Roboto-Black"),
    url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmYUtfChc4EsA.woff2)
      format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"), local("Roboto-Black"),
    url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmYUtfBBc4.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  min-width: 320px;
  background-color: #fff;
  position: relative;
  overflow-x: hidden;
}

.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999;
}

.popup__wraper {
  margin: 50px auto;
  padding: 20px;
  max-width: 300px;
  height: 300px;
  text-align: center;
  background-color: white;
}

.popup__input {
  width: 250px;
  border: solid 1px #f82370;
  padding: 10px;
  margin: 10px auto;
}

.popup__button {
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  color: #f82370;
  background-color: white;
  border: solid 1px #f82370;
  padding: 20px;
  margin: 20px auto;
}

.stop-scrolling {
  height: 100vh;
  overflow: hidden;
}

.header__cont {
  display: none;
}

.about__pic {
  position: absolute;
  right: 270px;
  top: 129px;
  z-index: 1;
  -webkit-filter: drop-shadow(10px 0 10px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(10px 0 10px rgba(0, 0, 0, 0.4));
}
.examples {
  position: relative;
  background-color: #fff;
}

.layer img {
  position: absolute;
  right: -105px;
  top: 138px;
  z-index: 0;
  overflow: hidden;
}

.header__span {
  display: block;
  width: 45px;
  height: 6px;
  background: -webkit-gradient(linear, left bottom, left top, from(#ff8f5a), to(#ff2f96));
  -webkit-text-fill-color: transparent;
}

.header__span:nth-child(2) {
  margin: 7px 0;
}

.nav__btn_close {
  position: relative;
  display: none;
}

.header__span_close {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0;
  top: 0;
  display: block;
  width: 45px;
  height: 6px;
  background: #fff;
}

.header__span_close:first-child {
  transform: rotate(45deg);
}

.header__span_close:last-child {
  transform: rotate(-45deg);
}

.about {
  margin: 0;
  height: 687px;
  background-image: url(../img/figure.svg);
  background-repeat: no-repeat;
  background-position: calc(100% + 106px) 57px;
}

.symbols__symbol {
  font-size: 60px;
  font-weight: bold;
  line-height: 0.9;
  background: -webkit-gradient(linear, left bottom, left top, from(#ff8f5a), to(#ff2f96));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
}

.symbols__symbol_pos1 {
  -moz-transform: matrix(0.721, 0.374, -0.374, 0.721, 0, 0);
  -webkit-transform: matrix(0.721, 0.374, -0.374, 0.721, 0, 0);
  -ms-transform: matrix(0.721, 0.374, -0.374, 0.721, 0, 0);
  left: 124px;
  top: 134px;
}
.symbols__symbol_pos2 {
  -moz-transform: matrix(0.915, 0.260, -0.261, 0.915, 0, 0);
  -webkit-transform: matrix(0.915, 0.260, -0.261, 0.915, 0, 0);
  -ms-transform: matrix(0.915, 0.260, -0.261, 0.915, 0, 0);
  left: 246px;
  top: 367px;
}
.symbols__symbol_pos3 {
  -moz-transform: matrix(0.482, -0.122, 0.122, 0.482, 0, 0);
  -webkit-transform: matrix(0.482, -0.122, 0.122, 0.482, 0, 0);
  -ms-transform: matrix(0.482, -0.122, 0.122, 0.482, 0, 0);
  left: 751px;
  top: 154px;
}
.symbols__symbol_pos4 {
  -moz-transform: matrix(0.629,-0.256, 0.256, 0.629, 0, 0);
  -webkit-transform: matrix(0.629,-0.256, 0.256, 0.629, 0, 0);
  -ms-transform: matrix(0.629,-0.256, 0.256, 0.629, 0, 0);
  left: 364px;
  top: 664px;
}

.symbols__symbol_pos5 {
  -moz-transform: matrix(0.587, 0.215, -0.215, 0.587, 0, 0);
  -webkit-transform: matrix(0.587, 0.215, -0.215, 0.587, 0, 0);
  -ms-transform: matrix(0.587, 0.215, -0.215, 0.587, 0, 0);
  left: 924px;
  top: 532.5px;
}

.price__symbol {
  font-size: 60px;
  font-weight: bold;
  line-height: 0.9;
  color: white;
  position: absolute;
}

.price__symbol_pos6 {
  -moz-transform: matrix(0.793, -0.251, 0.251, 0.793, 0, 0);
  -webkit-transform: matrix(0.793, -0.251, 0.251, 0.793, 0, 0);
  -ms-transform: matrix(0.793, -0.251, 0.251, 0.793, 0, 0);
  left: 1726px;
  padding-top: 289px;
}

.price__symbol_pos7 {
  -moz-transform: matrix(0.915, 0.260, -0.260, 0.915, 0, 0);
  -webkit-transform: matrix(0.915, 0.260, -0.260, 0.915, 0, 0);
  -ms-transform: matrix(0.915, 0.260, -0.260, 0.915, 0, 0);
  left: 280px;
  padding-top: 266px;
}

.price__symbol_pos8 {
  -moz-transform: matrix(0.721, 0.374, -0.374, 0.721, 0, 0);
  -webkit-transform: matrix(0.721, 0.374, -0.374, 0.721, 0, 0);
  -ms-transform: matrix(0.721, 0.374, -0.374, 0.721, 0, 0);
  left: 137px;
  padding-top: 71px;
}

.price__symbol_pos9 {
  -moz-transform: matrix(0.629, -0.256, 0.256, 0.629, 0, 0);
  -webkit-transform: matrix(0.629, -0.256, 0.256, 0.629, 0, 0);
  -ms-transform: matrix(0.629, -0.256, 0.256, 0.629, 0, 0);
  left: 1632px;
  padding-top: 85px;
}

.price__symbol_pos10 {
  -moz-transform: matrix(0.587, 0.215, -0.215, 0.587, 0, 0);
  -webkit-transform: matrix(0.587, 0.215, -0.215, 0.587, 0, 0);
  -ms-transform: matrix(0.587, 0.215, -0.215, 0.587, 0, 0);
  left: 1437px;
  padding-top: 373px;
}

.symbols__symbol_moveLeft {
  animation-name: move_left;
  animation-duration: 2s;
}

.symbols__symbol_moveRight {
  animation-name: move_right;
  animation-duration: 2s;
}

@keyframes move_left {
  0% {
    margin-left: -1000px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes move_right {
  0% {
    margin-left: 1000px;
  }
  100% {
    margin-left: 0px;
  }
}


.wrapper {
  max-width: 1170px;
  padding: 0 40px 0 40px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
}

.header__wrapper {
  flex-direction: row;
  justify-content: space-between;
}

.contact {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 23px;
}

.contact__link {
  letter-spacing: 1px;
  text-decoration: none;
  color: #000;
}

.contact__button {
  font-weight: bold;
  position: relative;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 29px;
  font-size: 16px;
  width: 207px;
  height: 45px;
  background-color: white;
  color: #f82370;
  border: solid 1px #f82370;
  z-index: 3;
}

.contact__mobile-wrap {
  display: none;
}

.nav__list {
  margin: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 42px 0 20px 0;
}

.nav__item:nth-child(2) a {
  color: #f82370;
  padding-bottom: 1px;
  border-bottom: solid 1px #f82370;
}

.nav__link {
  margin-right: 32px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #000;
  text-decoration: none;
}

.person {
  flex-direction: column;
  background: rgba(0, 0, 0, 0);
  max-width: 1170px;
  z-index: 2;
}

h1 {
  position: relative;
  padding-top: 138px;
  font-size: 80px;
  font-weight: 900;
  margin-bottom: 0;
  z-index: 2;
}
.about__text {
  position: relative;
  margin-top: 13px;
  padding-top: 0px;
  font-size: 25px;
  color: #8993ad;
  font-weight: 400;
  z-index: 3;
}

.about__btn {
  position: relative;
  margin-top: 21px;
  margin-right: 0;
  z-index: 3;
}

h2 {
  padding-top: 41px;
  padding-bottom: 44px;
  align-self: center;
  font-size: 54px;
  font-weight: 900;
  color: #262626;
}

.works__cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services:first-child {
  padding-right: 20px;
}

.works__text {
  color: #8993ad;
  padding-top: 0;
  line-height: 1.5;
  font-size: 20px;
  font-weight: 400;
}

.works__item {
  max-width: 24%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.button_orange {
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  font-size: 18px;
  width: 270px;
  height: 60px;
  background: rgba(255, 78, 46, 1);
  color: white;
  border: 0;
}

.works__button {
  margin-top: 70px;
  margin-bottom: 106px;
}

.examples__button {
  margin-top: 72px;
  margin-bottom: 102px;
}

.works {
  position: relative;
  background-color: white;
  z-index: 3;
}

.example {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.example__service2 {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.examples__title {
  padding-bottom: 55px;
}
.swiper-slide p {
  color: #8993ad;
  padding-top: 11px;
  line-height: 1.5;
  font-size: 20px;
  font-weight: 400;
}
.price {
  
  background: linear-gradient(15deg, #ff8f5a, #ff2f96);
  color: white;
}
.price__title {
  font-size: 45px;
  padding-left: 115px;
  padding-bottom: 0px;
  margin-bottom: 15px;
  color: white;
  line-height: 1.3;
}
.price__text {
  font-size: 18px;
  padding-left: 115px;
  line-height: 1.5;
  padding-bottom: 66px;
}
.up_footer {
  height: 262px;
}
footer {
  background-color: white;
}
.copyright {
  margin-top: 37px;
  padding: 3px 0 17px 0;
  background-color: #31293c;
  text-align: center;
}
footer p {
  color: white;
  font-size: 16px;
  align-self: center;
  padding-top: 11px;
}
footer .wrapper {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-content: stretch;
}
.menu__list {
  padding-left: 0;
  padding-top: 74px;
  padding-right: 319px;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.menu__item {
  list-style-type: none;
}
.menu__link {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: rgb(137, 147, 173);
  text-decoration: none;
  line-height: 1.91;
}

.menu ul li:nth-child(2) a {
  color: rgb(137, 147, 173);
  text-decoration: none;
  border-bottom: 0;
}

.contacts {
  text-align: left;
  margin-top: 52px;
  margin-right: 70px;
  margin-left: -20px;
}
.contacts__link {
  display: block;
  text-decoration: none;
  color: black;
}
.contacts i {
  font-size: 20px;
  padding-top: 35px;
  padding-left: 20px;
}
.contacts__span {
  font-size: 25px;
  padding-right: 18px;
}

.fa {
  font-size: 18px;
  background: -webkit-gradient(linear, left bottom, left top, from(#ff8f5a),
    to(#ff2f96)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.social__button {
  position: relative;
  top: 76px;
  left: 130px;
  cursor: pointer;
  font-size: 16px;
  width: 248px;
  height: 45px;
  background-color: white;
  color: #f82370;
  border: solid 1px #f82370;
  z-index: 3;
}

.social__list {
  padding-top: 95px;
  padding-left: 130px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.share__icon_shar1 {
  background-position: -9px -16px;
  cursor: pointer;
}
.share__icon_shar2 {
  background-position: 150px -12px;
  cursor: pointer;
}
.share__icon_shar3 {
  background-position: 97px -16px;
  cursor: pointer;
}
.share__icon_shar4 {
  background-position: 44px -16px;
  cursor: pointer;
}

.share__icon {
  margin: 0;
  display: block;
  width: 53px;
  height: 53px;
  background-image: url(../img/sprite.png);
}
/* swiper */
.swiper-container {
  width: 100%;
  height: 100%;
  margin: 0;
}
.swiper-slide {
  min-width: 370px;
  width: 33%;
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-button-next {
  right: 19%;
  top: 47%;
  transform: scale(-1, 1);
}
.swiper-button-prev {
  left: 19%;
  top: 47%;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev::after {
  display: none;
}
.arrow {
  filter: drop-shadow(10px 0 10px rgba(0, 0, 0, 0.4));
}
.swiper-pagination {
  display: none;
}
.swiper-container-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 14px 16px;
}
.contact__mobile {
  display: none;
}

@media screen and (max-width: 1200px) {
  .contact__mobile {
    display: none;
  }
  .header__cont {
    display: block;
  }
  .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0px;
    left: 0;
    width: 100%;
  }

  .symbols__symbol_pos1 {
    left: 74px;
    top: 156px;
  }

  .symbols__symbol_pos2 {
    left: 58px;
    top: 634px;
  }

  .symbols__symbol_pos3 {
    left: 851px;
    top: 138px;
  }

  .symbols__symbol_pos4 {
    left: 345px;
    top: 579px;
  }
  
  .symbols__symbol_pos5 {
    left: 344px;
    top: 135px;
  }

  .price__symbol {
    font-size: 40px;
  }

  .price__symbol_pos6 {
    left: 1726px;
    padding-top: 289px;
  }
  
  .price__symbol_pos7 {
    left: 1200px;
    padding-top: 266px;
  }
  
  .price__symbol_pos8 {
    left: 157px;
    padding-top: 25px;
  }
  
  .price__symbol_pos9 {
    font-size: 60px;
    left: 815px;
    padding-top: 345px;
  }
  
  .price__symbol_pos10 {
    left: 535px;
    padding-top: 377px;
  }

  .about {
    margin: 0;
    height: 694px;
    background-image: url(../img/figure.svg);
    background-repeat: no-repeat;
    background-position: calc(100% + 334px) 163px;
  }
  h1 {
    padding-top: 193px;
    padding-bottom: 7px;
    font-size: 54px;
  }
  .about__btn {
    width: 320px;
    height: 68px;
  }
  .about__pic {
    position: absolute;
    right: 20px;
    top: 135px;
    z-index: 1;
    -webkit-filter: drop-shadow(10px 0 10px rgba(0, 0, 0, 0.4));
    filter: drop-shadow(10px 0 10px rgba(0, 0, 0, 0.4));
  }
  .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f82370;
    z-index: 4;
    height: 100vh;
    display: table;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
  }

  .header__nav_open {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s, visibility 0.3s;
  }

  .nav__btn_close {
    position: absolute;
    left: 40px;
    top: 40px;
    display: inline-block;
  }

  .header__nav ul {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
  }

  ul {
    display: block;
  }

  .header__nav ul li {
    width: 100%;
    display: block;
    text-align: center;
    padding-bottom: 30px;
  }

  .header__nav ul li a {
    color: #fff;
  }
  .header__nav ul li:nth-child(2) a {
    color: #fff;
  }

  .header__btn {
    display: block;
    margin-top: 37px;
  }
  .works__item {
    max-width: 42%;
    padding: 0 30px 58px 30px;
  }
  .works__text {
    margin-top: 19px;
  }
  h2 {
    padding-right: 29px;
  }

  .price__title {
    letter-spacing: 0.9px;
    padding-right: 0;
  }

  .works__cont {
    padding: 0 80px;
  }
  .works__button {
    cursor: pointer;
    margin: 12px auto 108px auto;
    width: 320px;
    height: 68px;
  }
  .examples__title {
    padding-right: 5px;
    padding-bottom: 53px;
  }
  .examples .wrapper {
    padding: 0;
  }

  .examples__button {
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
    margin: 83px auto 101px auto;
    width: 320px;
    height: 68px;
  }
  .swiper-pagination {
    display: block;
  }
  .swiper-button-next {
    display: none;
  }
  .swiper-button-prev {
    display: none;
  }
  .example__service2 img {
    min-width: 456px;
  }
  .examples__text {
    font-size: 25px;
    margin-top: 7px;
  }
  .swiper-slide {
    min-width: 456px;
  }
  .swiper-slide-active {
    min-width: 456px;
  }
  .swiper-container {
    padding-bottom: 118px;
  }
  .swiper-pagination-bullet {
    color: #ebebeb;
    margin: 0 20px;
    width: 16px;
    height: 16px;
  }
  .swiper-pagination-bullet-active {
    --swiper-theme-color: #ff4e2e;
  }
  .price__title {
    padding-left: 0;
    font-size: 43px;
    line-height: 1.5;
    padding-top: 35px;
    margin-bottom: 23px;
  }
  .price__text {
    padding-left: 0;
    margin: 0;
    line-height: 1.8;
    padding-bottom: 74px;
  }
  .menu__list {
    padding-right: 200px;
    padding-top: 102px;
  }
  .contacts {
    margin-top: 81px;
    margin-right: -17px;
  }
  .social__button {
    margin: 28px 0 0 3px;
  }
  .social__list {
    padding: 94px 0 0 133px;
  }
  .copyright {
    margin-top: 37px;
    padding: 3px 0 7px 0;
  }
}

@media screen and (max-width: 600px) {
  .about {
    height: 594px;
    background-image: url(../img/figure.svg);
    background-repeat: no-repeat;
    background-size: 0px auto;
    background-position: calc(100% + 96px) 117px;
  }
  .wrapper {
    padding: 0 20px 0 20px;
  }
  .works__title {
    padding: 18px 0 10px 0;
    font-size: 30px;
  }
  .person {
    max-width: 280px;
  }
  .header__btn {
    margin-top: 31px;
  }

  .header__span {
    width: 25px;
    height: 3px;
  }

  .header__span:nth-child(2) {
    margin: 4px 0;
  }
  .contact__button {
    display: none;
  }

  .contact {
    padding-top: 30px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }
  .contact__link {
    display: none;
    font-size: 15px;
    padding-right: 37px;
  }
  .contact__button {
    display: none;
  }
  .contact__mobile {
    display: block;
    top: -5px;
    max-width: 22px;
    max-height: 22px;
    padding-right: 5px;
    border-radius: 25px;
    padding: 1rem;
    position: relative;
    background: linear-gradient(to right, red, purple);
    padding: 2px;
  }
.contact__link_mobile i {
  font-size: 10px;
  margin-left: 5px;
}
  .about__title {
    font-size: 30px;
    margin: 232px 0 0 5px;
  }
  .about__img {
    max-width: 75%;
    padding-left: 72px;
  }
  .about__pic {
    right: 0;
    margin: 0;
    background-image: url(../img/figure.svg);
    background-repeat: no-repeat;
    background-size: 480px auto;
    background-position: calc(100% + 96px) 37px;
  }
  .about__text {
    margin: 0;
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
  }
  .about__btn {
    width: 280px;
    height: 55px;
    margin-top: 23px;
  }
  .works__cont {
    padding: 0;
  }

  .works__item {
    max-width: 100%;
    padding: 0 28px 10px 25px;
  }
  .works__img {
    padding-top: 8px;
    padding-bottom: 9px;
    height: 57px;
  }
  .works__text {
    margin-top: 5px;
    margin-bottom: 33px;
    padding-top: 0;
    line-height: 1.5;
    font-size: 16px;
  }
  .works__button {
    margin: 10px auto 92px auto;
    width: 280px;
    height: 55px;
  }
  .examples__title {
    font-size: 30px;
    padding: 0 20px 42px 20px;
    text-align: center;
    margin: 0;
  }
  .example__service2 {
    margin: 0;
    padding: 0;
  }
  .examples__img {
    max-height: 250px;
    object-fit: contain;
  }
  .examples__text {
    font-size: 20px;
    margin-top: 0;
  }
  .swiper-slide {
    min-width: 320px;
  }
  .swiper-container {
    padding-bottom: 52px;
  }
  
  .swiper-pagination-bullet {
    width: 9px;
    height: 9px;
    
  }
  .swiper-container-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 8px 8px;
  }
  .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
  }
  .examples__button {
    margin: 29px auto 52px auto;
    width: 280px;
    height: 55px;
  }
  .price__title {
    padding-top: 20px;
    font-size: 26px;
    line-height: 1.55;
    letter-spacing: 1.2px;
    margin-bottom: 32px;
  }
  .price__text {
    font-size: 15px;
    line-height: 2;
    padding-bottom: 42px;
  }
  .menu__list {
    padding-top: 37px;
  }
  .menu__link {
    font-size: 15px;
    line-height: 2.3;
  }
  .contacts {
    margin-top: 20px;
    margin-left: 0px;
  }
  .contacts__span {
    font-size: 16pt;
  }
  .contacts i {
    font-size: 13px;
    padding-top: 20px;
    padding-left: 16px;
    margin-bottom: 13px;
  }
  .social__button {
    cursor: pointer;
    left: -4px;
    top: -11px;
    font-size: 18px;
    width: 280px;
    height: 55px;
    background: rgba(255, 78, 46, 1);
    color: white;
    border: 0;
  }
  .social__list {
    padding-left: 0;
    padding-top: 25px;
  }
  .copyright {
    margin-top: 10px;
  }
  footer p {
    font-size: 12.5px;
    padding-top: 0;
  }
  .symbols__symbol {
    font-size: 30px;
  }
  .symbols__symbol_pos1 {
    left: 47px;
    top: 100px;
  }
  .symbols__symbol_pos2 {
    left: 37px;
    top: 208px;
  }
  .symbols__symbol_pos4 {
    left: 165px;
    top: 78px;
  }
  .symbols__symbol_pos5 {
    font-size: 26px;
    left: 233px;
    top: 143px;
  }
  .price__symbol_pos8 {
    display: none;
  }
}
